@import "tailwindcss";

/* Preline UI */
@import "../node_modules/preline/variants.css";

@theme {
  --color-navy: #11395d;
  --color-sand: #e4b07a;
  --color-cream: #f4eae0;
}

@layer utilities {
  @keyframes bounceCustom {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .animate-bounce-1 {
    animation: bounceCustom 3s ease-in-out infinite;
  }
  .animate-bounce-2 {
    animation: bounceCustom 3.3s ease-in-out infinite;
  }
  .animate-bounce-3 {
    animation: bounceCustom 3.6s ease-in-out infinite;
  }
  .animate-bounce-4 {
    animation: bounceCustom 3.9s ease-in-out infinite;
  }
  .animate-bounce-5 {
    animation: bounceCustom 4.2s ease-in-out infinite;
  }
  .animate-bounce-6 {
    animation: bounceCustom 4.5s ease-in-out infinite;
  }
  .animate-bounce-7 {
    animation: bounceCustom 4.8s ease-in-out infinite;
  }
  .animate-bounce-8 {
    animation: bounceCustom 5.1s ease-in-out infinite;
  }
  .animate-bounce-9 {
    animation: bounceCustom 5.4s ease-in-out infinite;
  }
  .animate-bounce-10 {
    animation: bounceCustom 5.7s ease-in-out infinite;
  }
  .animate-bounce-11 {
    animation: bounceCustom 6s ease-in-out infinite;
  }
  .animate-bounce-12 {
    animation: bounceCustom 6.3s ease-in-out infinite;
  }
  .animate-bounce-13 {
    animation: bounceCustom 6.6s ease-in-out infinite;
  }
  .animate-bounce-14 {
    animation: bounceCustom 6.9s ease-in-out infinite;
  }
  .animate-bounce-15 {
    animation: bounceCustom 7.2s ease-in-out infinite;
  }
  .animate-bounce-16 {
    animation: bounceCustom 7.5s ease-in-out infinite;
  }
  .animate-bounce-17 {
    animation: bounceCustom 7.8s ease-in-out infinite;
  }
  .animate-bounce-18 {
    animation: bounceCustom 8.1s ease-in-out infinite;
  }
  .animate-bounce-19 {
    animation: bounceCustom 8.4s ease-in-out infinite;
  }
  .animate-bounce-20 {
    animation: bounceCustom 8.7s ease-in-out infinite;
  }
}
